<div class="container d-flex justify-content-between align-items-center mt-5">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Francesco_Melzi_-_Portrait_of_Leonardo.png/220px-Francesco_Melzi_-_Portrait_of_Leonardo.png" alt="portait" class="me-4" height="400"/>
    <div class="fs-5 fw-light">
        <strong>Leonardo da Vinci</strong> (1452-1519) was an Italian polymath of the Renaissance period. He was born in Vinci, Italy, and displayed remarkable talents as a painter, sculptor, architect, musician, mathematician, engineer, inventor, anatomist, geologist, cartographer, botanist, and writer. Leonardo is widely considered one of the greatest painters of all time, renowned for masterpieces such as the "Mona Lisa" and "The Last Supper."

        Beyond his artistic prowess, da Vinci's scientific observations and inventions were revolutionary for his time, encompassing studies in anatomy, optics, and engineering. His notebooks, containing detailed sketches and scientific diagrams, reveal his visionary ideas and innovations, including concepts for flying machines, war machines, and hydraulic engineering.

        Leonardo da Vinci's legacy extends far beyond his own era, influencing countless artists and scientists throughout history, and he remains an enduring symbol of creativity, curiosity, and the blending of art and science.
    </div>
</div>