<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100" style="width: 18rem;">
                <img width="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/220px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg" class="card-img-top" alt="card-img">
                <div class="card-body">
                    <h5 class="card-title">Mona Lisa</h5>
                    <p class="card-text">Painted by Leonardo da Vinci between 1503 and 1506.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100" style="width: 18rem;">
                <img width="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Leonardo_da_Vinci%2C_Salvator_Mundi%2C_c.1500%2C_oil_on_walnut%2C_45.4_%C3%97_65.6_cm.jpg/270px-Leonardo_da_Vinci%2C_Salvator_Mundi%2C_c.1500%2C_oil_on_walnut%2C_45.4_%C3%97_65.6_cm.jpg" class="card-img-top" alt="card-img">
                <div class="card-body">
                    <h5 class="card-title">Salvator Mundi</h5>
                    <p class="card-text">Painted by Leonardo da Vinci between 1499 and 1510.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100" style="width: 18rem;">
                <img width="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Leonardo_da_Vinci_-_Portrait_of_a_Musician_-_Pinacoteca_Ambrosiana.jpg/270px-Leonardo_da_Vinci_-_Portrait_of_a_Musician_-_Pinacoteca_Ambrosiana.jpg" class="card-img-top" alt="card-img">
                <div class="card-body">
                    <h5 class="card-title">
                        Portrait of a Musician
                    </h5>
                    <p class="card-text">Painted by Leonardo da Vinci between 1483 and 1487 (unfinished).</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100" style="width: 18rem;">
                <img width="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Uomo_Vitruviano.jpg/220px-Uomo_Vitruviano.jpg" class="card-img-top" alt="card-img">
                <div class="card-body">
                    <h5 class="card-title">Vitruvian Man</h5>
                    <p class="card-text">Drawn by Leonardo da Vinci in 1490.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100" style="width: 18rem;">
                <img width="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Vis_aerienne_Luc_Viatour.jpg/800px-Vis_aerienne_Luc_Viatour.jpg" class="card-img-top" alt="card-img">
                <div class="card-body">
                    <h5 class="card-title">Leonardo's aerial screw</h5>
                    <p class="card-text">Drawn by Leonardo da Vinci in 1480s.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100" style="width: 18rem;">
                <img width="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Leonardo_da_Vinci_-_Plan_of_Imola_-_Google_Art_ProjectFXD.jpg/1280px-Leonardo_da_Vinci_-_Plan_of_Imola_-_Google_Art_ProjectFXD.jpg" class="card-img-top" alt="card-img">
                <div class="card-body">
                    <h5 class="card-title">
                        A map of Imola
                    </h5>
                    <p class="card-text">Drawn by Leonardo da Vinci in 1502.</p>
                </div>
            </div>
        </div>
    </div>  
</div>