<div class="container">
    <h1 class="text-center display-3 my-5">Welcome!</h1>

    <div class="d-flex align-items-center">
        <img width="275" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkF4N6XdzqvCXxorHI4RuLvdcsJekY_ajotqLvVOjDTIN6PLb6" class="me-3 rounded" draggable="false" />
        <div class="fs-5 fw-light">Step into the extraordinary world of <strong>Leonardo da Vinci</strong> the quintessential Renaissance man. Explore the boundless curiosity and creativity of a visionary whose art, inventions, and scientific inquiries continue to inspire and astonish the world. From the enigmatic smile of the Mona Lisa to the intricate designs of his flying machines, da Vinci's work embodies the spirit of exploration and innovation. His detailed anatomical sketches reveal a profound understanding of the human body, while his studies in physics and engineering showcase a mind that was ahead of its time. Whether delving into his masterpieces of art or his groundbreaking scientific theories, Leonardo da Vinci's legacy is a testament to the power of human imagination and intellect.</div>
    </div>
    
    <div class="d-flex justify-content-between mt-5">
        <div><a asp-area="" asp-controller="Home" asp-action="Paintings" class="link-secondary">Here you can see his paintings!</a></div>
        <div><a asp-area="" asp-controller="Home" asp-action="Discoveries" class="link-secondary">Here you can see his scientific discoveries!</a></div>
    </div>
</div>
